<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script th:src="@{/jquery/3.7.0/jquery.js}"></script>
    <script>
        //주문취소
        function payCancel(){
            $.ajax({
                url : "/payCancel",
                method: "post",
                data : { mid : $("#mid").val() },
                cache : false,
                success : function(res){
                    console.log(res);
                    orderConfirm();
                },
                error : function(err){ console.log(err); }
            });
        }

        //단 건 주문 조최
        function onePay(){
            var resStr = '';

            $.ajax({
                url : "/onePay",
                method: "get",
                data : { imp_uid : $("#mid").val() },
                cache : false,
                async : false,
                success : function(res){
                    console.log('res:' , res);

                    let status;
                    if(res.status == 'paid') status = '결제완료' ;
                    else if(res.status == 'ready') status = '미결제' ;
                    else if(res.status == 'cancelled') status = '결제취소' ;
                    else  status = '결제실패' ;

                    resStr += ` 주문상태: ${status} ||| 주문번호(imp_uid): ${res.imp_uid} ,  주문번호(merchant_uid): ${res.merchant_uid} , 주문자명 : ${res.buyer_name} , 주문명: ${res.name}, 주문금액: ${res.amount} <br>`;
                    document.getElementById('resultContent').innerHTML = resStr;

                },
                error : function(err){ console.log(err); }
            });
        }

        //주문상태에 따른 전체 조회
        function orderConfirm(){
            const xhr = new XMLHttpRequest();
            var resStr = '';
            xhr.addEventListener('readystatechange', function () {
              if (this.readyState === this.DONE) {
                //console.log(typeof this.response);

                let res = JSON.parse(this.responseText); // JSON string -> JSON Object로 변환
                console.log('res:: ', res);
                if (  !(res == null || res == '' || res == []) ){
                    res.forEach(function(obj, idx){
                        let status;
                        if(obj.status == 'paid') status = '결제완료' ;
                        else if(obj.status == 'ready') status = '미결제' ;
                        else if(obj.status == 'cancelled') status = '결제취소' ;
                        else  status = '결제실패' ;

                        resStr += `[ ${idx} ] 주문상태: ${status} ||| 주문번호(imp_uid): ${obj.imp_uid} ,  주문번호(merchant_uid): ${obj.merchant_uid} , 주문자명 : ${obj.buyer_name} , 주문명: ${obj.name}, 주문금액: ${obj.amount} <br>`;
                    });
                }

                document.getElementById('resultContent').innerHTML = resStr;

              }
            });

            xhr.open('GET', '/payStatus', false);
            xhr.send();
        }

    </script>
</head>
<body>
<h1>결제내역 확인하기</h1>
<input type="text" id="mid">
<button type="button" onclick="payCancel()" >주문취소</button>
<button type="button" onclick="onePay()" >단 건 조회</button>
<br><br><br>

<button type="button" onclick="orderConfirm()" >주문확인</button><br>

<div id="resultContent"></div>

</body>
</html>